doctype html
html(lang="en")
  head
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-146678773-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-146678773-1');
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/holding.css")
    title Aim33

  body
    canvas

    div(id="decoration")
      img(src="/images/mobile-flourish.svg" id="mobile_flourish")
      img(src="/images/flourish.svg" id="flourish")

    div(id="content")
      div(id="top")
        img(src="/images/aimee-logo.svg")
      div(id="bottom")
        div(id="POI")
          p Beautiful Websites
          p Uniquely hand Crafted
          p to your
          p Individual Specification
        div(id="CTA")
          p R500 per Month plus
          p 2000 Startup Fee
          button(onclick="toggleForm()") Start Project

    div(id="form_container")
      button(onclick="toggleForm()") Cancel
      form(action="/startSite", method="post")
        input(placeholder="Name", name="name")
        input(placeholder="Preferred Web Address", name="url")
        input(placeholder="Email", name="email")
        input(type="hidden", name="_csrf", value= csrfToken)
        button(type="submit") Send Request
  script(src="/scripts/holding.js" charset="utf-8")
