doctype html
html(lang="en")
  head
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-146678773-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-146678773-1');
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/index.css")
    title Aim33

  body
    canvas

    header
      img(src="/images/aimee-logo.svg")

    nav
      a(href="branding") Branding
      a(href="user_experience") User Experience
      a(href="artistry") Artistry
      a(href="programming") Programming

    div(id="pages")
      article(id="branding")
        h1 Branding

      article(id="user_experience")
        h1 User Experience

      article(id="artistry")
        h1 Artistry

      article(id="programming")
        h1 Programming

    footer
      form(action="/admin/todo", method="post")
        input
        button Send
    script(src="/scripts/index.js" charset="utf-8")
