doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/survey.css")
    title Aim33 - Survey

  body
    p Name
    p Address
    p Category
    p Short Description
    p Opening Hours
    p Services / Products
