doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/todo.css")
    title Aim33 - Todo

  body
    h1 Aim33
    h2 Todo:
    ul
      li Create Landing Page
      li Secure This Page
      li Deploy This Site
      li Create 'Saldanha' Subdomain
      li Create Time Schedule
      li Design Logo
      li Design Survey
